.dark-modal .modal-content {
    background-color: #009efb;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }

  .card-header{
    font-weight: 800;
    font-size: 20px;
    color: #a9a9a9;
  }

table{
    width: 100%
  }

  th{
    height: 50px;
    background-color: #242A33;
    font-weight: 800;
    font-size: 20px;
    padding-left: 20px;
    outline-color: #242A33;
    outline-style: auto;
  }

  td{
    padding: 25px;
    outline-color: #242A33;
    outline-style: auto;
    /* outline-width: 2px; */
  }

  .detailsButton{
    margin-left: auto
  }

  .approveButton{
    margin-left: auto
  }
  
  p{
    font-size: 12px;
    font-weight: 500;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .card-body{
    /* margin: 2px; */
    padding: 1px;
  }

  .card-header {
    background-color: #242A33
  }


  .example-card {
    max-width: 679px;
    height: 380px;
  }
  
  .example-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-size: cover;
  }

  